<form method="post" action="{{ path('app_desafio2_delete', {'id': desafio2.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ desafio2.id) }}">
    <button class="btn">Delete</button>
</form>
