{% extends 'base.html.twig' %}

{% block title %}Edit Desafio2{% endblock %}

{% block body %}
    <h1>Edit Desafio2</h1>

    {{ include('desafio2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_desafio2_index') }}">back to list</a>

    {{ include('desafio2/_delete_form.html.twig') }}
{% endblock %}
