{% extends 'base.html.twig' %}

{% block title %}Desafio2 index{% endblock %}

{% block body %}
    <h1>Desafio2 index</h1>

    <table class="table">
        <thead align='center'>
            <tr>
                <th>Id</th>
                <th>NumeroInicial</th>
                <th>NumeroFinal</th>
                <th>HoraRegistro</th>
                <th>FizzBuzz</th>
            </tr>
        </thead>
        <tbody>
        {% for desafio2 in desafio2s %}
            <tr align='center'>
                <td>{{ desafio2.id }}</td>
                <td>{{ desafio2.numeroInicial }}</td>
                <td>{{ desafio2.numeroFinal }}</td>
                <td>{{ desafio2.horaRegistro ? desafio2.horaRegistro|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ desafio2.FizzBuzz }}</td>
                <td>
                    {# <a href="{{ path('app_desafio2_show', {'id': desafio2.id}) }}">show</a> #}
                    {# <a href="{{ path('app_desafio2_edit', {'id': desafio2.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_desafio2_new') }}">Create new</a>
{% endblock %}
