{% extends 'base.html.twig' %}

{% block title %}New Desafio2{% endblock %}

{% block body %}
    <h1>Create new Desafio2</h1>

    {{ include('desafio2/_form.html.twig') }}

    <a href="{{ path('app_desafio2_index') }}">back to list</a>
{% endblock %}
