{% extends 'base.html.twig' %}

{% block title %}Desafio2{% endblock %}

{% block body %}
    <h1>Desafio2</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ desafio2.id }}</td>
            </tr>
            <tr>
                <th>NumeroInicial</th>
                <td>{{ desafio2.numeroInicial }}</td>
            </tr>
            <tr>
                <th>NumeroFinal</th>
                <td>{{ desafio2.numeroFinal }}</td>
            </tr>
            <tr>
                <th>HoraRegistro</th>
                <td>{{ desafio2.horaRegistro ? desafio2.horaRegistro|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FizzBuzz</th>
                <td>{{ desafio2.FizzBuzz }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_desafio2_index') }}">back to list</a>

    <a href="{{ path('app_desafio2_edit', {'id': desafio2.id}) }}">edit</a>

    {{ include('desafio2/_delete_form.html.twig') }}
{% endblock %}
